*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
*:before,*:after{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
body{font-family:"Microsoft Yahei";font-size:12px;line-height:1.5;color:#333;background:#fff;width:100%;margin:0px auto;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td{padding:0;margin:0;}
body{margin-bottom:80px;}
a{color:#337ab7; text-decoration:none; background-color:transparent;}
a:active,a:hover{outline: 0;text-decoration: none;}
a:hover,a:focus{text-decoration: none;}
img{border: 0;vertical-align: middle;}
hr{height: 0; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box;margin-top:16px;margin-bottom:16px;border:0;border-top:1px solid #eee;}
button,input,optgroup,select,textarea{margin: 0; font: inherit; color: inherit;}
button{overflow: visible;}
button,select{text-transform: none;}
button::-moz-focus-inner,input::-moz-focus-inner{padding: 0; border: 0;}
input{line-height: normal;}
input[type="checkbox"],input[type="radio"]{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height: auto;}
input[type="search"]{-webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; -webkit-appearance: textfield;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance: none;}
textarea{overflow: auto;}
table{border-spacing: 0; border-collapse: collapse;}
input,button,select,textarea{font-family: inherit; font-size: inherit; line-height: inherit;}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;margin-top: 10px;margin-bottom: 10px;}
h1,.h1{font-size: 36px;}h2,.h2{font-size: 30px;}h3,.h3{font-size: 24px;}h4,.h4{font-size: 18px;}h5,.h5{font-size: 14px;}h6,.h6{font-size: 12px;}
ul,ol,li{list-style-type:none;}
.fl{float:left}.fr{float:right}
/*ÕÚÕÖ²ã*/
.kuang{position:relative;position:absolute;top:0px;left:0px;z-index:10000;width:100%;height:100%;background:#000;opacity:0.6;-moz-opacity:0.6;-webkit-opacity:0.6;position: fixed;}
.kuang_c{margin-left:-90px;margin-top:-110px;width:180px;height:220px;border:1px solid #008d7c;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;position:absolute;top:50%;left:50%;z-index:10005;background:#fff;position: fixed;-webkit-box-shadow: 3px 3px 3px  #000;box-shadow: 3px 3px 3px  #000;}
.kuang_c .img_t{width:95%;height:130px;margin:20px auto 20px;}
.kuang_c .img_t img{width:100%;height:100%;}
.kuang_c .ip {width:80%;margin-left:10%;}
.kuang_c .ip a{display:block;width:100%;height:30px;background:#008d7c;color:#fff;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;line-height:30px;text-align:center;}
.kuang_c>label{position:absolute;top:4px;right:4px;}


.ma{margin:15px;}.ml{margin-left:15px;}.mr{margin-right:15px;}.mt{margin-top:15px;}.mb{margin-bottom:15px;}
.pa{padding:15px;}.pl{padding-left:15px;}.pr{padding-right:15px;}.pt{padding-top:15px;}.pb{padding-bottom:15px;}
.poa{position:absolute;}.por{position:relative;}

.site_top{background:url(../images/headbg.jpg); background-size:100% 100% }
.site_top img.logo{width:25%}

.site_nav{background:#fff;padding:3px 8px;overflow:hidden;margin:25px 0px;}
.site_nav li{float:left;width:33%;}
.site_nav li a{display:block;font-size:18px;width:100%;padding:6px;text-align: center;color:#999;text-decoration:none;}
.site_nav li.active a{color:#15abaa}
.site_nav li a:hover{color:#15abaa;}


.w{margin:0px auto;width:100%;margin-bottom:10px;overflow:hidden;background:#fff;}
.product_pic{position:relative;}
.product_pic .pic img{width:100%;}
.product_pic .nav{position:absolute;bottom:0px;left:0px;width:100%;text-align:center;padding:10px 0px;}
.product_pic .nav a{display:inline-block;width:8px;height:8px;border-radius:50%;background:rgba(255,255,255,0.6);margin-left:5px;margin-right:5px;}
.product_pic .nav a.active{background:#15abaa;}

.p{margin:10px;overflow:hidden;}
.p_h{width:50%;float:left;}
.p_h_tit{text-align:center;color:#f60;font-size:10px;margin-bottom:5px;}
.p_h_tit img{width:60px;}
.p_h_list ul{width:50%;float:left;padding:2px;}
.p_h_list ul img{width:100%;border:1px solid #eee;background:#fff;}

.p_tit{font-size:12px;color:#333;background:#ddd;text-align:center;padding:5px;}

.px_nav{background:#fff;padding:3px 8px;overflow:hidden;}
.px_nav li{float:left;width:33%;}
.px_nav li a{display:block;width:100%;padding:6px;text-align: center;border-right:1px solid #ddd;color:#999;text-decoration:none;}
.px_nav li:last-child a{border-right:none;}
.px_nav li.active a{color:#15abaa}

.px_sub_nav{padding:6px 8px;overflow:hidden;}
.px_sub_nav li{float:left;width:33%;padding:2px;}
.px_sub_nav li a{display:block;width:100%;padding:6px;text-align: center;color:#fff;text-decoration:none;background:#15abaa}
.px_sub_nav li.active a{color:#000;background:#a1dbdc}

.pro_box{margin:5px;overflow:hidden;}
.pro_box .pbox{width:50%;padding:5px;float:left;}
.product_cart{border:1px solid #ddd;background:#fff;border-radius:3px;}
.product_cart .img img{width:100%;border-radius:4px;height:160px;}
.product_cart h2{margin:6px 10px;font-size:14px;color:#000;white-space:nowrap;text-overflow:ellipsis;overflow: hidden;}
.product_cart .price{font-size:14px;color:#f60;padding-left:10px;}
.product_cart .oldprice{font-size:10px;color:#999;padding-left:10px;}
.product_cart .btnbox ul{padding:5px;overflow:hidden;}
.product_cart .btnbox ul li{float:left;width:50%;padding:2px;}
.product_cart .btnbox ul li a{display:block;width:100%;padding:6px 0px;background:#1aa29e;color:#fff;text-align: center;border-radius:3px;}

.pro_title{font-family:inherit;font-size:18px;font-weight:500;line-height:1.1;color:inherit;margin-top:20px;margin-bottom: 10px;margin-left:15px;overflow:hidden;}
.pro_box1{border:10px solid #15ABAA;overflow:hidden;}

.pro_box1 .pic{border-bottom:10px solid #15ABAA;}
.pro_box1 .pic img{width:100%;}
.pro_box1 .pbox1{padding:20px;overflow:hidden;}
.pro_box1 .pbox1 .pbox2{width:50%;padding:0px;float:left;}
.product_cart2{width:100%;border-top:1px dashed #FF9A00;}
.product_cart2 .img img{width:100%;border-radius:4px;}
.product_cart2 h4{margin:10px 10px;font-size:12px;color:#000;white-space:nowrap;text-overflow:ellipsis;overflow: hidden;}
.product_cart2 h3{margin:5px 10px;font-size:14px;color:#000;white-space:nowrap;text-overflow:ellipsis;overflow: hidden;}
.product_cart2 h2{margin:5px 10px;font-size:12px;font-weight:bold;color:#000;white-space:nowrap;text-overflow:ellipsis;overflow: hidden;}
.product_cart2 .price{margin:5px 10px;font-size:14px;color:#f60;}
.product_cart2 .price span{font-size:10px;color:#999;float:right;}
.product_cart2 .oldprice{margin:5px 10px;font-size:10px;color:#999;}
.product_cart2 .oldprice span{font-size:10px;color:#999;float:right;}
.product_cart2 .btnbox ul{padding:5px;overflow:hidden;}
.product_cart2 .btnbox ul li{float:left;width:70%;padding:2px;}
.product_cart2 .btnbox ul li a{display:block;width:100%;padding:6px 0px;background:#1aa29e;color:#fff;text-align: center;border-radius:3px;}




.nav-bar{background:#fff;box-shadow:0px 0px 6px #cacfd5;position:fixed;bottom:0px;width:100%; z-index:999;border-top:1px solid #007953}
.nav-bar li{width:25%;float:left;text-align:center;}
.nav-bar li a{display:block;padding:5px 0px; font-size:80%;color:#333}
.nav-bar li a span{display:block;width:24px;height:24px;margin:0px auto;margin-bottom:3px;background-repeat:no-repeat;}
.nav-bar li a.nav01 span{background:url(../images/nav1.png) no-repeat;background-size:24px 24px}
.nav-bar li a.nav02 span{background:url(../images/nav2.png) no-repeat;background-size:24px 24px}
.nav-bar li a.nav03 span{background:url(../images/nav3.png) no-repeat;background-size:24px 24px}
.nav-bar li a.nav04 span{background:url(../images/nav4.png) no-repeat;background-size:24px 24px}
.nav-bar li a.nav05 span{background:url(../images/nav5.png) no-repeat;background-size:24px 24px}
.nav-bar li.active a {color:#007953}
.nav-bar li.active a.nav01 span{background:url(../images/nav1-1.png) no-repeat;background-size:24px 24px}
.nav-bar li.active a.nav02 span{background:url(../images/nav2-1.png) no-repeat;background-size:24px 24px}
.nav-bar li.active a.nav03 span{background:url(../images/nav3-1.png) no-repeat;background-size:24px 24px}
.nav-bar li.active a.nav04 span{background:url(../images/nav4-1.png) no-repeat;background-size:24px 24px}
.nav-bar li.active a.nav05 span{background:url(../images/nav5-1.png) no-repeat;background-size:24px 24px}
.nav-bar li a:hover,.nav-bar li.active a:hover {background:#f0f2f5;text-decoration:none;}
.nav-bar li a:focus,.nav-bar li.active a:focus {background:#f0f2f5;text-decoration:none;}

.footer{margin:40px 10px;overflow:hidden;background:#F6F6F6;height:260px;padding-top:20px;}
.footer_nav{padding:6px 8px;overflow:hidden;}
.footer_nav ul{float:left;height:120px;width:100%;text-align: center;background:#fff;border:1px solid #ECECEC;padding:15px 0px;}
.footer_nav li{float:left;width:24%;font-size:12px;}
.footer_nav li a{display:block;width:100%;padding:6px;text-align: center;color:#fff;text-decoration:none;background:#15abaa}
.footer_nav li.active a{color:#000;background:#a1dbdc}

.footer_nav1{padding:6px 8px;overflow:hidden;}
.footer_nav1 ul{float:left;height:120px;width:100%;text-align: center;padding:15px 0px;}
.footer_nav1 li{float:left;width:50%;font-size:12px;}
.footer_nav1 li a{display:block;width:100%;padding:6px;text-align: center;color:#fff;text-decoration:none;background:#15abaa}
.footer_nav1 li.active a{color:#000;background:#a1dbdc}

/*å­—ä½“å›¾æ ‡*/
@font-face{font-family: 'Glyphicons Halflings'; src: url('../fonts/glyphicons-halflings-regular.eot'); src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');}
.glyphicon{position: relative; top: 1px; display: inline-block; font-family: 'Glyphicons Halflings'; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.glyphicon-asterisk:before{content: "\2a";}.glyphicon-plus:before{content: "\2b";}.glyphicon-euro:before,.glyphicon-eur:before{content: "\20ac";}
.glyphicon-minus:before{content: "\2212";}.glyphicon-cloud:before{content: "\2601";}.glyphicon-envelope:before{content: "\2709";}
.glyphicon-pencil:before{content: "\270f";}.glyphicon-glass:before{content: "\e001";}.glyphicon-music:before{content: "\e002";}
.glyphicon-search:before{content: "\e003";}.glyphicon-heart:before{content: "\e005";}.glyphicon-star:before{content: "\e006";}
.glyphicon-star-empty:before{content: "\e007";}.glyphicon-user:before{content: "\e008";}.glyphicon-film:before{content: "\e009";}
.glyphicon-th-large:before{content: "\e010";}.glyphicon-th:before{content: "\e011";}.glyphicon-th-list:before{content: "\e012";}
.glyphicon-ok:before{content: "\e013";}.glyphicon-remove:before{content: "\e014";}.glyphicon-zoom-in:before{content: "\e015";}
.glyphicon-zoom-out:before{content: "\e016";}.glyphicon-off:before{content: "\e017";}.glyphicon-signal:before{content: "\e018";}
.glyphicon-cog:before{content: "\e019";}.glyphicon-trash:before{content: "\e020";}.glyphicon-home:before{content: "\e021";}
.glyphicon-file:before{content: "\e022";}.glyphicon-time:before{content: "\e023";}.glyphicon-road:before{content: "\e024";}
.glyphicon-download-alt:before{content: "\e025";}.glyphicon-download:before{content: "\e026";}.glyphicon-upload:before{content: "\e027";}
.glyphicon-inbox:before{content: "\e028";}.glyphicon-play-circle:before{content: "\e029";}.glyphicon-repeat:before{content: "\e030";}
.glyphicon-refresh:before{content: "\e031";}.glyphicon-list-alt:before{content: "\e032";}.glyphicon-lock:before{content: "\e033";}
.glyphicon-flag:before{content: "\e034";}.glyphicon-headphones:before{content: "\e035";}.glyphicon-volume-off:before{content: "\e036";}
.glyphicon-volume-down:before{content: "\e037";}.glyphicon-volume-up:before{content: "\e038";}.glyphicon-qrcode:before{content: "\e039";}
.glyphicon-barcode:before{content: "\e040";}.glyphicon-tag:before{content: "\e041";}.glyphicon-tags:before{content: "\e042";}
.glyphicon-book:before{content: "\e043";}.glyphicon-bookmark:before{content: "\e044";}.glyphicon-print:before{content: "\e045";}
.glyphicon-camera:before{content: "\e046";}.glyphicon-font:before{content: "\e047";}.glyphicon-bold:before{content: "\e048";}
.glyphicon-italic:before{content: "\e049";}.glyphicon-text-height:before{content: "\e050";}.glyphicon-text-width:before{content: "\e051";}
.glyphicon-align-left:before{content: "\e052";}.glyphicon-align-center:before{content: "\e053";}.glyphicon-align-right:before{content: "\e054";}
.glyphicon-align-justify:before{content: "\e055";}.glyphicon-list:before{content: "\e056";}.glyphicon-indent-left:before{content: "\e057";}
.glyphicon-indent-right:before{content: "\e058";}.glyphicon-facetime-video:before{content: "\e059";}.glyphicon-picture:before{content: "\e060";}
.glyphicon-map-marker:before{content: "\e062";}.glyphicon-adjust:before{content: "\e063";}.glyphicon-tint:before{content: "\e064";}
.glyphicon-edit:before{content: "\e065";}.glyphicon-share:before{content: "\e066";}.glyphicon-check:before{content: "\e067";}
.glyphicon-move:before{content: "\e068";}.glyphicon-step-backward:before{content: "\e069";}.glyphicon-fast-backward:before{content: "\e070";}
.glyphicon-backward:before{content: "\e071";}.glyphicon-play:before{content: "\e072";}.glyphicon-pause:before{content: "\e073";}
.glyphicon-stop:before{content: "\e074";}.glyphicon-forward:before{content: "\e075";}.glyphicon-fast-forward:before{content: "\e076";}
.glyphicon-step-forward:before{content: "\e077";}.glyphicon-eject:before{content: "\e078";}.glyphicon-chevron-left:before{content: "\e079";}
.glyphicon-chevron-right:before{content: "\e080";}.glyphicon-plus-sign:before{content: "\e081";}.glyphicon-minus-sign:before{content: "\e082";}
.glyphicon-remove-sign:before{content: "\e083";}.glyphicon-ok-sign:before{content: "\e084";}.glyphicon-question-sign:before{content: "\e085";}
.glyphicon-info-sign:before{content: "\e086";}.glyphicon-screenshot:before{content: "\e087";}.glyphicon-remove-circle:before{content: "\e088";}
.glyphicon-ok-circle:before{content: "\e089";}.glyphicon-ban-circle:before{content: "\e090";}.glyphicon-arrow-left:before{content: "\e091";}
.glyphicon-arrow-right:before{content: "\e092";}.glyphicon-arrow-up:before{content: "\e093";}.glyphicon-arrow-down:before{content: "\e094";}
.glyphicon-share-alt:before{content: "\e095";}.glyphicon-resize-full:before{content: "\e096";}.glyphicon-resize-small:before{content: "\e097";}
.glyphicon-exclamation-sign:before{content: "\e101";}.glyphicon-gift:before{content: "\e102";}.glyphicon-leaf:before{content: "\e103";}
.glyphicon-fire:before{content: "\e104";}.glyphicon-eye-open:before{content: "\e105";}.glyphicon-eye-close:before{content: "\e106";}
.glyphicon-warning-sign:before{content: "\e107";}.glyphicon-plane:before{content: "\e108";}.glyphicon-calendar:before{content: "\e109";}
.glyphicon-random:before{content: "\e110";}.glyphicon-comment:before{content: "\e111";}.glyphicon-magnet:before{content: "\e112";}
.glyphicon-chevron-up:before{content: "\e113";}.glyphicon-chevron-down:before{content: "\e114";}.glyphicon-retweet:before{content: "\e115";}
.glyphicon-shopping-cart:before{content: "\e116";}.glyphicon-folder-close:before{content: "\e117";}.glyphicon-folder-open:before{content: "\e118";}
.glyphicon-resize-vertical:before{content: "\e119";}.glyphicon-resize-horizontal:before{content: "\e120";}.glyphicon-hdd:before{content: "\e121";}
.glyphicon-bullhorn:before{content: "\e122";}.glyphicon-bell:before{content: "\e123";}.glyphicon-certificate:before{content: "\e124";}
.glyphicon-thumbs-up:before{content: "\e125";}.glyphicon-thumbs-down:before{content: "\e126";}.glyphicon-hand-right:before{content: "\e127";}
.glyphicon-hand-left:before{content: "\e128";}.glyphicon-hand-up:before{content: "\e129";}.glyphicon-hand-down:before{content: "\e130";}
.glyphicon-circle-arrow-right:before{content: "\e131";}.glyphicon-circle-arrow-left:before{content: "\e132";}.glyphicon-circle-arrow-up:before{content: "\e133";}
.glyphicon-circle-arrow-down:before{content: "\e134";}.glyphicon-globe:before{content: "\e135";}.glyphicon-wrench:before{content: "\e136";}
.glyphicon-tasks:before{content: "\e137";}.glyphicon-filter:before{content: "\e138";}.glyphicon-briefcase:before{content: "\e139";}
.glyphicon-fullscreen:before{content: "\e140";}.glyphicon-dashboard:before{content: "\e141";}.glyphicon-paperclip:before{content: "\e142";}
.glyphicon-heart-empty:before{content: "\e143";}.glyphicon-link:before{content: "\e144";}.glyphicon-phone:before{content: "\e145";}
.glyphicon-pushpin:before{content: "\e146";}.glyphicon-usd:before{content: "\e148";}.glyphicon-gbp:before{content: "\e149";}
.glyphicon-sort:before{content: "\e150";}.glyphicon-sort-by-alphabet:before{content: "\e151";}.glyphicon-sort-by-alphabet-alt:before{content: "\e152";}
.glyphicon-sort-by-order:before{content: "\e153";}.glyphicon-sort-by-order-alt:before{content: "\e154";}.glyphicon-sort-by-attributes:before{content: "\e155";}
.glyphicon-sort-by-attributes-alt:before{content: "\e156";}.glyphicon-unchecked:before{content: "\e157";}.glyphicon-expand:before{content: "\e158";}
.glyphicon-collapse-down:before{content: "\e159";}.glyphicon-collapse-up:before{content: "\e160";}.glyphicon-log-in:before{content: "\e161";}
.glyphicon-flash:before{content: "\e162";}.glyphicon-log-out:before{content: "\e163";}.glyphicon-new-window:before{content: "\e164";}
.glyphicon-record:before{content: "\e165";}.glyphicon-save:before{content: "\e166";}.glyphicon-open:before{content: "\e167";}
.glyphicon-saved:before{content: "\e168";}.glyphicon-import:before{content: "\e169";}.glyphicon-export:before{content: "\e170";}
.glyphicon-send:before{content: "\e171";}.glyphicon-floppy-disk:before{content: "\e172";}.glyphicon-floppy-saved:before{content: "\e173";}
.glyphicon-floppy-remove:before{content: "\e174";}.glyphicon-floppy-save:before{content: "\e175";}.glyphicon-floppy-open:before{content: "\e176";}
.glyphicon-credit-card:before{content: "\e177";}.glyphicon-transfer:before{content: "\e178";}.glyphicon-cutlery:before{content: "\e179";}
.glyphicon-header:before{content: "\e180";}.glyphicon-compressed:before{content: "\e181";}.glyphicon-earphone:before{content: "\e182";}
.glyphicon-phone-alt:before{content: "\e183";}.glyphicon-tower:before{content: "\e184";}.glyphicon-stats:before{content: "\e185";}
.glyphicon-sd-video:before{content: "\e186";}.glyphicon-hd-video:before{content: "\e187";}.glyphicon-subtitles:before{content: "\e188";}
.glyphicon-sound-stereo:before{content: "\e189";}.glyphicon-sound-dolby:before{content: "\e190";}.glyphicon-sound-5-1:before{content: "\e191";}
.glyphicon-sound-6-1:before{content: "\e192";}.glyphicon-sound-7-1:before{content: "\e193";}.glyphicon-copyright-mark:before{content: "\e194";}
.glyphicon-registration-mark:before{content: "\e195";}.glyphicon-cloud-download:before{content: "\e197";}.glyphicon-cloud-upload:before{content: "\e198";}
.glyphicon-tree-conifer:before{content: "\e199";}.glyphicon-tree-deciduous:before{content: "\e200";}.glyphicon-cd:before{content: "\e201";}
.glyphicon-save-file:before{content: "\e202";}.glyphicon-open-file:before{content: "\e203";}.glyphicon-level-up:before{content: "\e204";}
.glyphicon-copy:before{content: "\e205";}.glyphicon-paste:before{content: "\e206";}.glyphicon-alert:before{content: "\e209";}
.glyphicon-equalizer:before{content: "\e210";}.glyphicon-king:before{content: "\e211";}.glyphicon-queen:before{content: "\e212";}
.glyphicon-pawn:before{content: "\e213";}.glyphicon-bishop:before{content: "\e214";}.glyphicon-knight:before{content: "\e215";}
.glyphicon-baby-formula:before{content: "\e216";}.glyphicon-tent:before{content: "\26fa";}.glyphicon-blackboard:before{content: "\e218";}
.glyphicon-bed:before{content: "\e219";}.glyphicon-apple:before{content: "\f8ff";}.glyphicon-erase:before{content: "\e221";}
.glyphicon-hourglass:before{content: "\231b";}.glyphicon-lamp:before{content: "\e223";}.glyphicon-duplicate:before{content: "\e224";}
.glyphicon-piggy-bank:before{content: "\e225";}.glyphicon-scissors:before{content: "\e226";}.glyphicon-bitcoin:before{content: "\e227";}
.glyphicon-btc:before{content: "\e227";}.glyphicon-xbt:before{content: "\e227";}.glyphicon-yen:before{content: "\00a5";}
.glyphicon-jpy:before{content: "\00a5";}.glyphicon-ruble:before{content: "\20bd";}.glyphicon-rub:before{content: "\20bd";}
.glyphicon-scale:before{content: "\e230";}.glyphicon-ice-lolly:before{content: "\e231";}.glyphicon-ice-lolly-tasted:before{content: "\e232";}
.glyphicon-education:before{content: "\e233";}.glyphicon-option-horizontal:before{content: "\e234";}.glyphicon-option-vertical:before{content: "\e235";}
.glyphicon-menu-hamburger:before{content: "\e236";}.glyphicon-modal-window:before{content: "\e237";}.glyphicon-oil:before{content: "\e238";}
.glyphicon-grain:before{content: "\e239";}.glyphicon-sunglasses:before{content: "\e240";}.glyphicon-text-size:before{content: "\e241";}
.glyphicon-text-color:before{content: "\e242";}.glyphicon-text-background:before{content: "\e243";}.glyphicon-object-align-top:before{content: "\e244";}
.glyphicon-object-align-bottom:before{content: "\e245";}.glyphicon-object-align-horizontal:before{content: "\e246";}.glyphicon-object-align-left:before{content: "\e247";}
.glyphicon-object-align-vertical:before{content: "\e248";}.glyphicon-object-align-right:before{content: "\e249";}.glyphicon-triangle-right:before{content: "\e250";}
.glyphicon-triangle-left:before{content: "\e251";}.glyphicon-triangle-bottom:before{content: "\e252";}.glyphicon-triangle-top:before{content: "\e253";}
.glyphicon-console:before{content: "\e254";}.glyphicon-superscript:before{content: "\e255";}.glyphicon-subscript:before{content: "\e256";}
.glyphicon-menu-left:before{content: "\e257";}.glyphicon-menu-right:before{content: "\e258";}.glyphicon-menu-down:before{content: "\e259";}
.glyphicon-menu-up:before{content: "\e260";}

@font-face {
  font-family: 'iconfont';
<<<<<<< .mine
  src: url('//at.alicdn.com/t/font_1464941866_3706422.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1464941866_3706422.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1464941866_3706422.woff') format('woff'), /* chrome¡¢firefox */
  url('//at.alicdn.com/t/font_1464941866_3706422.ttf') format('truetype'), /* chrome¡¢firefox¡¢opera¡¢Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1464941866_3706422.svg#iconfont') format('svg'); /* iOS 4.1- */
}
=======
  src: url('//at.alicdn.com/t/font_1464916921_525081.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1464916921_525081.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1464916921_525081.woff') format('woff'), /* chrome¡¢firefox */
  url('//at.alicdn.com/t/font_1464916921_525081.ttf') format('truetype'), /* chrome¡¢firefox¡¢opera¡¢Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1464916921_525081.svg#iconfont') format('svg'); /* iOS 4.1- */
}                
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
>>>>>>> .r650
                    
                    
                    





