<?xml version='1.0' encoding='UTF-8'?>

<!DOCTYPE hibernate-configuration

PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"

"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://192.168.0.124:1433;DatabaseName=yy</property>
		<property name="hibernate.connection.username">yy</property>
		<property name="hibernate.connection.password">yy123</property>
		<property name="hibernate.connection.autocommit">false</property>
		<property name="hibernate.show_sql">true</property>
		<!--<mapping resource="test/test.hbm.xml" />
	--></session-factory>
</hibernate-configuration>
