@charset "utf-8";
@charset "utf-8";
/* 头部样式开始 */
.header{ width:100%; height:auto;min-width:1200px;}
.header .nav_top{ width:100%;background-color:#f1f1f1; height:40px;  margin:0 auto;position:relative;}
.header .nav_top .nav_top_center{ width:1200px; height:35px; font-family:"方正细圆"; font-size:12px; color:#000; margin:0 auto;}
.header .nav_top .nav_top_center .hello{ float:left; width:280px; height:40px; display:block; margin-left:0px; line-height:40px;}
.header .nav_top .nav_top_center .news{line-height:40px;cursor: pointer;color:#951E22;}
.header .nav_top .nav_top_center a{ float:right; padding:0 20px;  background:url(../images/bars.jpg) no-repeat right; height:40px; line-height:40px; color:#000;}
.header .nav_top .nav_top_center a.red{ color:#a41f24;}
.header .nav_top .nav_top_center a.no_b{ background-image:none; color:#000;}
.header .nav_top .nav_top_center a:hover{ color:#951E22;}
.header .nav_center{ width:1200px; height:100px; margin:0 auto;}
.header .nav_center .logo{ float:left; margin-top:20px;}
.header .nav_center .search{ float:left; width:560px; height:35px; margin-left:78px; margin-top:50px;}
.header .nav_center .search .input_t{ float:left; width:450px; font-size:14px; height:28px; border:#a31f24 solid 1px; padding:0px 5px;}
.header .nav_center .search .input_sub{ float:left; width:96px; cursor:pointer; background:url(../images/button.jpg); height:30px;border-style: none; font-family:"方正细圆"; font-size:12px; color:#FFF;}
.header .nav_center .rxdh{ float:right; margin-top:32px; margin-right:5px;}
.header .nav_top .menu_top{width:300px;height:200px;background-color:#fff;position: absolute;top:39px;left:469px;border:1px solid red;z-index:999;display:none;}
/* 中间样式开始 */
.center{ width:1200px; height:auto; margin:0 auto;position: relative;}
.center .con_top{ width:100%; height:auto;}
.header .nav_r{width:1200px;height:40px;border-bottom: 2px solid rgb(164, 31, 36);clear：both;margin:0 auto;margin-top:20px;}
.header .nav_r ul li {float:left;width:133px; height:40px;}
.header .nav_r ul li a{display:block;width:136px;height:40px; font-size:14px; font-family:"方正细圆"; color:#595757; line-height:40px;text-align:center;font-weight:bold;}
.header .nav_r ul li a:hover{color:#b01e1e;}
.header .nav_r ul li a.active{background-color:#a41f24;color:#fff;}
.center .con_top .con_top_right .con_top_left{ width:240px; height:auto;float:left;}
.center .con_top .con_top_right .con_top_left .nav_fl{ width:240px; height:45px; background:url(../images/button.jpg) repeat;}
.center .con_top .con_top_right .con_top_left .nav_fl a{ font-size:20px; color:#FFF; line-height:45px; padding-left:10px;}
.center .con_top .con_top_right .con_top_left .nav_list{ width:234px; border:#bababb solid 3px; border-top:none; height:610px;}
.center .con_top .con_top_right .con_top_left .nav_list li{ float:left;width: 226px;height: 85px;border-bottom: #d2d1d1 solid 2px;padding-left: 8px; }
.nav_list .two{ float:left; margin-top:10px; width:155px; height:30px; padding-left:45px; font-size:14px; line-height:30px; display:block; color:#000; }
.nav_list .three{ float:left; font-size:13px;  display:block; color:#9c9c9c; padding:5px 3px; line-height:18px;}
.nav_list .two:hover,.nav_list .three:hover{ color:#a31f24;}
.center .con_top .con_top_right{ width:960px; height:auto;}
.con_top_right .nav_r{ float:left; width:1200px; height:40px; border-bottom:#a41f24 solid 5px;}
.con_top_right .nav_r li{ float:left; width:137px; height:40px; text-align:center;}
.con_top_right .nav_r li a{display:block;width:137px;height:40px; font-size:20px; color:#000; line-height:40px;}
.banner{ width:945px; height:320px; float:left; margin-left:11px; margin-top:15px; overflow:hidden; }
.banner li{ float:left;}
.banner .mianc{position: relative;}
.banner .owl-pagination{position:absolute;left:440px;top:270px;}
.banner .owl-pagination span{border:1px solid #666;}
.con_top_right .client{ width:941px; height:150px; float:left; margin-left:11px; margin-top:8px; overflow:hidden;}
.con_top_right .client .client_title{ height:30px; background:url(../images/zlhz.jpg) no-repeat left;}
.con_top_right .client .client_title a{ font-size:12px; color:#701419; line-height:30px; padding-left:15px;}
.con_top_right .client .client_list{ height:120px; width:100%;}
.con_top_right .client .client_list ul{ float:left; margin-top:10px;}
.con_top_right .client .client_list li{ float:left; width:235px; text-align:center; height:100px; }
.con_top_right .mech{ width:945px; height:120px; float:left; margin-left:11px; overflow:hidden;margin-top:8px;}
.con_top_right .mech .mech_title{ height:20px; background:#f0ac3c; width:100%;}
.con_top_right .mech .mech_list{ height:100px; width:100%;}
.con_top_right .mech .mech_list ul{ float:left;}
.con_top_right .mech .mech_list li{ float:left; width:236px; text-align:center; height:100px; }
.con_top_right .mech .mech_list li img{width:230px;}
.billing{ width:1200px;height:auto; margin:0 auto; text-align:center;}
.billing img{margin-top:8px;}
.billing .cover{width:100%;height:114px; opacity:1; -moz-opacity:1; filter:alpha(opacity=100);position: absolute;top:628px;z-index:100;wmode:transparent;}
.billing .cover embed{width:100%;height:114px;}
/* 中间样式结束 */
/* 产品推介 */
.products{ width:1200px; height:960px; margin:0 auto; overflow:hidden; }
.products_top{ width:1200px; height:55px; margin:0 auto; border-bottom:2px solid #951e23;}
.products_top span a{ font-size:12px; color:#711419; font-family:"方正细圆"; line-height:88px;}
.products_top_r{ width:850px; height:65px; float:right;}
.products_top_r a{ color:#000; font-size:18px; float:left; margin-top:32px; line-height:30px; }
.products_top_r a.term{ display:block; width:55px; height:30px; text-align:center;}
.products_top_r a.term:hover{ background:url(../images/button_1.jpg) no-repeat; line-height:30px;}
.products_top_r a.active{ background:url(../images/button_1.jpg) no-repeat; line-height:30px;}
.products_top_r a.triangle{ padding:0px 16px; background:url(../images/dsj.jpg) no-repeat right; line-height:30px;}
.products_top_r a.triangle:hover{ color:#78191c;}
.products_top_r a.price{ margin-left:15px;}
.products_top_r .input_p{ width:60px; height:20px; margin-top:37px; padding:0px 5px;}
.products_top_r .button{ float:right; width:69px; height:30px;background-color:#7dbe48;color:#fff;text-align:center;font-family:"方正细圆";}
.products_top_r .button:hover{background-color:#4dbe48;}
.products_pic_1{ width:1200px; height:290px; margin:0 auto; margin-top:10px;}
.products_pic_1 .mc{ width:1200px; height:30px; line-height:30px; margin:20px auto 0; border-bottom:2px solid #951e23;}
.products_pic_1 .mc a{ font-size:12px; color:#711419; font-family:"方正细圆"; line-height:30px;}
.products_pic_1 .mc a.more{ float:right; font-size:14px; padding-right:10px; color:#000;}
.products_pic_1 .mc a.more:hover{ color:#78191c;}
.products_pic_1 ul{ margin-top:10px;}
.products_pic_1 li{ width:225px; height:200px; float:left; padding-left:7.5px; padding-right:7.5px;}
.products_pic_1 li img{ width:225px; height:200px;}
.products_pic_1 li p{cursor:pointer; color:#030000; font-size:12px;  padding-top:15px; padding-left:8px;}
.products_pic_1 li p a{ color:#030000;}
.products_pic_1 li p a:hover{ color:#78191c;}
.products_pic_1 li span{display:inline-block;cursor:pointer; color:#711419;line-height:24px; font-size:14px;} 
/* end 产品推介 */
/* 底部服务 */
.service{width:1200px;height:75px;margin:27px auto 0;}/*background:#f5f5f5;*/
.service .service_1{float:left;width:360px;height:70px;background-color:#f5f5f5;margin-top:4px;}
.service .service_1 img{width:52px;height:53px;margin-left:95px;margin-top:8px;}
#service_1{margin:4px 60px 0;}
.service .service_1 span{float:right;display:block;width:100px;height:40px;line-height:40px;margin-right:90px;margin-top:14px;font-family:"方正细圆";font-size:17px; }

/* end 底部服务 */
/* 底部 */
.bottom{ width:1200px; margin:0 auto; margin-top:10px; height:240px;}
.bottom_1{ width:200px; float:left;}
.bottom_1 span{ display:block; width:100%; text-align:center;}
.bottom_1 span a.bottom_t{ font-size:14px; line-height:40px; color:#951E22;}
.bottom_1 span a.bottom_t_1{ font-size:12px;  line-height:30px; color:#000;}
.bottom_1 span a.bottom_t_2{ font-size:12px;  line-height:30px; color:#000;}
.bottom_2{ width:255px; float:left;}
.bottom_2 span{ display:block; width:100%; text-align:center;}
.bottom_2 span a.bottom_t{ font-size:14px; line-height:40px; color:#951E22;}
.bottom_2 span img{ float:left; margin-left:65px;}
.bottom_2 span .b_2_r{ float:right; width:140px;}
.bottom_2 span .b_2_r a{ font-size:11px; line-height:15px; text-align:left; padding-left:10px;}
.bottom_2 span .bottom_t_1{ color:#385ca9; display:block;}
.bottom_2 span .bottom_t_2{ color:#000; display:block;}
.bottom_1 span a:hover{ color:#78191c;}
.bottom_3{ widows:300px; float:right;}
/* end 底部 */
/* 子页左侧 */
.center .page_left{ width:240px; height:auto; float:left; min-height:660px;margin-top:10px;}
.center .page_left .nav_fl{ width:240px; height:45px; background:url(../images/button.jpg) repeat;}
.center .page_left .nav_fl a{ font-size:20px; color:#FFF; line-height:45px; padding-left:10px;}
.center .con_top .con_top_right{ width:1200px; height:auto; }
.center .page_left .nav_list_title{ height:45px;background:#EBEBEB; overflow:hidden;border-bottom:1px solid #e0e0e0;}
.center .page_left .nav_list_title a{font-size:14px; line-height:45px; color:#000;margin-left:25px;}
.center .page_left .nav_list_title a:hover{ color:#78191c;}
.center .page_left .nav_list{ border:#ecebeb solid 3px; min-height:508px;}
.center .page_left .nav_list .two_fl{ font-size:12px; line-height:30px; background:url(../images/less.jpg) no-repeat left center; padding-left:25px; color:#000;}
.center .page_left .nav_list a:hover{ color:#78191c;}
#hide{display:none;}
#show{display:block;}
.center .page_left .nav_list li{}
.center .page_left .nav_list li a:hover{border-top:1px solid #eee;border-bottom:1px solid #eee;height:33px;line-height:33px;}
.center .page_left .nav_list .active{color:#951E22;border-top:1px solid #eee;border-bottom:1px solid #eee;height:33px;line-height:33px;}
.center .page_left .nav_list li a{padding-left:38px;display:block;width:198px;height:35px;font-size:12px; font-family:"方正细圆"; line-height:35px; color:#000;cursor: pointer;}
/* 子页右侧 */
.page_right{ width:960px; float:right; height:auto; min-height:1000px;}
.page_right .nav_r{ float:left; width:960px; height:40px; border-bottom:#951e23 solid 5px;}
.page_right .nav_r li{ float:left; width:119px; height:40px; text-align:center;}
.page_right .nav_r li a{ font-size:20px; color:#000; line-height:40px;}
.page_right .nav_r li a:hover{ color:#78191c;}
.page_right .products_top_1{ width:945px; height:50px; float:right;}
.page_right .products_top_2{ width:945px; height:34px; float:right;}
.page_right .products_top_2 .a_scree{display:inline-block;min-width:80px;height:23px;border:1px solid #ccc;line-height:23px;text-align:center;margin-left:12px;padding-left:10px;color:#ccc;cursor:default;}
.page_right .products_top_2 .a_scree i{color:#000;}
.page_right .products_top_2 .a_scree:hover{border:1px solid #951E22;color:#951E22;}
.page_right .products_top_2 .a_scree span{display:inline-block;float:right;padding-right:5px;font-size:15px;padding-left:5px;}
.page_right .products_top_r{ width:780px; height:50px; float:right;}
.page_right .products_top_z{ width:780px; height:50px; float:right;}
.page_right .products_top_r a{ color:#000; font-size:14px; float:left; margin-top:10px; line-height:30px; }
.page_right .products_top_r a.term{ display:block; width:55px; height:30px; text-align:center;}
.page_right .products_top_r a.term:hover{ background:url(../images/button_1.jpg) no-repeat; line-height:30px;}
.page_right .products_top_r a.active{ background:url(../images/button_1.jpg) no-repeat; line-height:30px;}
.page_right .products_top_r a.triangle{ padding:0px 16px; background:url(../images/dsj.jpg) no-repeat right; line-height:30px;}
.page_right .products_top_r a.triangle:hover{ color:#78191c;}
.page_right .products_top_r a.price{ margin-left:15px;}
.page_right .products_top_r .input_p{ width:60px; height:20px; margin-top:10px; padding:0px 5px;}
.page_right .products_top_r .input_z{ width:160px; height:20px; margin-top:0px; padding:0px 5px;}
.page_right .products_top_r .button{ float:right; width:69px; height:30px;background-color:#ccc;color:#000;text-align:center;font-family:"方正细圆";}
.page_right .products_top_r .button:hover{background-color:#cfcfcf;}
.page_right .pro_list{ width:945px; float:right; min-height:715px;}
.page_right .pro_list li{ float:left; width:315px; text-align:center;}
.page_right .pro_list li img{ width:290px; height:290px;}
.page_right .pro_list li .list_l{ float:left; text-align:left; height:60px; width:180px;}
.page_right .pro_list li .list_l a{ font-size:12px; color:#000; line-height:30px; padding-left:12px;}
.page_right .pro_list li .list_l a:hover{ color:#78191c;}
.page_right .pro_list li .list_l span{ font-size:14px; color:#78191c; line-height:15px; padding-left:12px;}
.page_right .pro_list li .list_r{ min-width:100px; height:90px; float:right;margin-right:10px;}
.page_right .pro_list li .list_r span{display:block;margin-right:10px;margin-top:8px;color:#9c9c9c;text-align:right;}
.page_right .pro_list li .list_r a{float:left;display:inline-block;margin-top:8px;}
.page_right .pro_list li .list_r a:first{margin-left:10px;}
.page_right .pro_list li .list_r .button_02 {display:block;width:45px;height:25px;background-color:#9a2221;font-family:"方正细圆";color:#fff;margin-top:14px;line-height:25px; }
.page_right .pro_list li .list_r .button_02:hover{background-color:#822221;}
.page_right .pro_list li .list_r .button_03{display:block;width:45px;height:25px;background-color:#9a2221;color:#fff;font-family:"方正细圆";margin-top:14px;line-height:25px; margin-left:5px;}
.page_right .pro_list li .list_r .button_03:hover{background-color:#822221;}
.page_right .search_b{ float:right; height:40px; background:#f4f4f3; width:920px; display:block; margin-top:15px; margin-right:15px; text-align:center; }
.page_right .search_b_1{ width:375px; margin:0 auto; margin-top:8px;line-height:20px;}
.page_right .search_b_1 .input_c{ width:227px; height:20px; background:url(../images/text.jpg) no-repeat; border:none; padding-left:18px; padding-right:18px;}
.page_right .search_b_1 .search_c{float:right;display:block;width:46px;height:20px;margin-top:2px;background-color:#f29117;color:#fff; }
.page_right .search_b_1 .search_c:hover{background-color:#e29117;}
.pro_content{ width:935px; min-height:800px; float:right; margin-top:11px;}
.pro_content .cpdt{ float:left;}
.pro_content .pro_js{ width:560px; float:right;}
.pro_content .pro_js .pri_title{ font-size:24px; line-height:50px;}
.pro_content .pro_js p{ font-size:12px; line-height:35px; font-family:"方正细圆";}
.pro_content .pro_js .red{ color:#78191c; font-size:24px;}
.pro_content .pro_js a.pj{ width:240px; height:60px; display:block; float:left; background-color:#f6b388;text-align:center;line-height:60px;color:#ab4336;font-family:"方正细圆";font-size:19px;border-radius:10px;}
.pro_content .pro_js a.pay{ width:240px; height:60px; display:block; float:left; background:url(../images/shop.jpg) 30px 16px no-repeat; margin-left:15px;background-color:#951e22;text-align:center;line-height:60px;color:#fff;font-family:"方正细圆";font-size:19px;border-radius:10px;}
.pro_content .pro_js .zf_t{ width:80px; height:80px; display:block; float:left; font-size:14px; color:#bababa; text-align:center; margin-top:30px;}
.pro_content .pro_js .zf_list{ float:left; margin-top:25px; width:400px; height:60px; text-align:center;}
.pro_content .pro_js .zf_list a{ font-size:14px; color:#39211e; background:url(../images/pay_01.jpg) no-repeat left center; padding-left:20px; line-height:30px; margin-right:20px;}
.pro_content_title{ float:left; width:100%; height:30px; border-bottom:#78191c solid 3px;}
.pro_content_title a{ font-family:"方正细圆"; font-size:12px; line-height:30px; float:left; color:#000; text-align:center; margin-top:4px;}
.pro_content_title .title_bt1{ width:124px; height:30px; background:url(../images/button_09.jpg) no-repeat; display:block; color:#FFF;}
.pro_content_title .title_bt2{ width:124px; height:30px; background:url(../images/button_08.jpg) no-repeat; display:block; margin-left:10px;}
.pro_content_title a:hover{ background:url(../images/button_09.jpg) no-repeat; color:#FFF;}
.pro_contents{ float:left; padding:15px 0px; min-height:300px; font-family:"方正细圆"; font-size:14px; line-height:24px; color:#000;}
.yhpj{ float:left;}
.yhpj_l{ float:left; width:240px; height:100px; margin-top:30px;}
.yhpj_l span{ font-family:"方正细圆"; font-size:48px; color:#f00; text-align:center; display:block; line-height:60px;}
.yhpj_l p{ text-align:center; font-size:12px; line-height:16px;}
.yhpj_r{ float:right; width:500px; height:100px; margin-top:30px;}
.yhpj_r p{ display:block; width:100%; float:left; height:30px;}
.yhpj_r span{ float:left; width:110px; font-size:12px; font-family:"方正细圆"; line-height:30px; height:24px; display:block;}
.yhpj_r img{ height:20px; float:left; margin-top:6px;}
.yhfz{ height:30px; float:left; width:100%; background:#fbfbfb; border:#f6f6f6 solid 1px; margin-bottom:80px; margin-top:30px;}
.yhfz a{ float:left; margin-left:25px; font-family:"方正细圆"; font-size:12px; line-height:30px; color:#898a89;}
.yhfz .reds{ color:#f00;}
.yhfz a:hover{ color:#f00;}
/* end 子页右侧 */
/* 分页 */
#pageGro{ float:right; margin-right:30px;margin-bottom:10px;}
#pageGro div,#pageGro div ul li{ font-size:12px; color:#999; line-height:20px; float:left; margin-left:6px;}
#pageGro div ul li{ width:22px; text-align:center; border:1px solid #999; cursor:pointer; background-color:#FFF;}
#pageGro div ul li.on{ color:#fff; background:#5c8917; border:1px solid #afe757;}
#pageGro .pageUp,#pageGro .pageDown{ width:63px; border:1px solid #999; cursor:pointer; background:#F00;}
#pageGro .pageUp{ text-indent:18px; background:url(../img/pageUp.png) 5px 7px no-repeat;}
#pageGro .pageDown{ text-indent:8px; background:url(../img/pageDown.png) 46px 6px no-repeat;}
/* end 分页 */
/*user分页面*/
.header_g{ width:100%; height:auto;min-width:1000px;}
.header_g .nav_top{ width:100%; height:40px; background:url(../images/top_nav_bg.jpg) repeat-x;}
.header_g .nav_top h2{width:970px;line-height:40px;margin:0 auto;font-size:12px;color:#a41f24;}
.center_g{overflow:hidden;width:940px;margin:0 auto; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e9e9',GradientType=0 );background: -webkit-linear-gradient(top,#fff,#e8e9e9); background: -moz-linear-gradient(top, #fff, #e8e9e9);background: -o-linear-gradient(top, #fff, #e8e9e9);background: -ms-linear-gradient(top, #fff, #e8e9e9);margin-top:10px; }
.center_top_t,.center_top_c,.center_top_r{float:left;width:auto;height:auto;margin-top:15px;margin-bottom:15px;}
.center_g .center_top_t{margin-left:20px;}
.center_g .center_top_r .tr_td{width:120px;height:40px;font-family:"方正细圆"; font-size:12px;text-align:right;}
.center_g .center_top_t .td,.center_g .center_top_c .td,.center_g .center_top_r .td{width:122px;height:40px;text-align:right;font-family:"方正细圆"; font-size:12px;}
.center_g .center_top_t input[type="text"],.center_g .center_top_c input[type="text"],.center_g .center_top .center_top_r input[type="text"]{height:25px;width:194px;}
.center_g .center_c{clear:both;width:700px;height:60px;}
.center_g .center_c table td a{display:block; width:80px; height:33px;background-color:#951E22;color:#fff;font-size:12px;text-align:center;font-family:"方正细圆";line-height:33px;margin-left:14px;}
.center_g .center_c table td a:hover{background-color:#b01e1e;}
.center_g .center_b{width:700px; height:auto;margin-left:14px;}
.center_g p{height:20px;}
.center_g .center_top tr td input[type="checkbox"]{width:15px;height:15px;line-height:5px;padding-right:10px;zoom:80%}
/*注册修改*/
.center_g .center_top{width:515px;height:auto;background-color:#fff;border:1px solid #951E22;margin-top:20px;margin-left:30px;}
.center_g .center_top table{margin-left:20px;}
.center_g .center_top .td{width:139px;height:45px;text-align:right;font-size:12px;font-family: "方正细圆";}
.center_g .center_top .sp{color:#555556;font-family:"方正细圆";}
.center_g .center_top .td span{color:#c42323;}
.center_g .center_top td .label{color:#c42323}
.center_g h1{height:20px;}
.center_g .center_top  table input[type="radio"]{display:inline-block;width:15px;height:15px;}
.center_g .center_top table input{height:25px;width:180px;}
.center_g .center_top table input[type="submit"]{display:inline-block;width:80px;height:33px;background-color:#951E22;font-size:12px;font-family:"方正细圆";color:#fff;margin-left:82px;border:1px solid #951E22;}
.center_g .center_top table input[type="submit"]:hover{background-color:#b01e1e;border:1px solid #b01e1e;}
.center_g .center_top table input[type="button"]{margin-bottom:10px;display:block;width:95px;height:33px;background-color:#951E22;font-size:12px;font-family:"方正细圆";color:#fff;margin-left:25px;border:1px solid #951E22;}
.center_g .center_top table input[type="button"]:hover{background-color:#b01e1e;border:1px solid #b01e1e;}
/*公告*/
.center_g .center_top_t table input[type="submit"],.center_g .center_top_t table input[type="button"]{display:inline-block;width:95px;height:33px;background-color:#951E22;font-size:12px;font-family:"方正细圆";color:#fff;border:1px solid #951E22;margin-top:20px;}
.center_g .center_top_t table input[type="submit"]:hover,.center_g .center_top_t table input[type="button"]:hover{background-color:#b01e1e;border:1px solid #b01e1e;}
.center_g .center_top_t #title{width:616px;height:30px;border:1px solid #dba9b0;}
.center_g .center_top_t .content_l{width:616px;border:1px solid #dba9b0;}
.center_g .center_top_t #video input{display:block;width:615px;border:1px solid #dba9b0;}
/*政策快报*/
