/*===============================*/
/*===============================*/
#_x_ctr_location_box { border: 1px solid #666666; background-color: #FFFFFF; position:absolute; top:0px; left:0px; }
#_x_str_location_title { margin-top: 5px; margin-right: 5px; margin-left: 5px; text-align:right; }
#_x_str_location_title i { background-image: url('../Images/_x_ctr_location_btnclose.png'); width: 15px; height: 14px; display: block; margin-right: 0px; margin-left: auto; cursor: pointer; }
#_x_ctr_location_area { padding: 5px; }
#_x_ctr_location_area select {padding: 5px; width: 180px; }
#_x_ctr_location_area select[xtype=must] { border: 1px solid #FF0000; padding: 5px; width: 180px; }
#_x_ctr_location_button { padding-right: 5px; padding-bottom: 5px; padding-left: 5px; text-align:right; }
#_x_ctr_location_button button { border: 1px solid #666666; cursor:pointer; margin-left:10px; }